#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.app {
  width: 100%;
  max-width: 550px;
  height: 100vh;
}

/* Header */
.header {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: #FFFFFF; 
  display: flex;
  align-items: center;
  height: 65px;
  padding: 0 37px;
}

.page-title {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.1em;
  line-height: 1.5rem;
  margin-right: auto;
}

.project {
  font-size: 0.75rem;
  font-weight: 500;
}

/* Input text */
main {
  padding: 36px;
}

.caption {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 1rem;
}

.textbox {
  color: #0D0D0D;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  line-height: 0.875rem;
  height: 35px;
  text-indent: 11px;
}

/* Generate image button */
.get-image {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1rem;
  padding: 10px 0;
  width: 100%;
  grid-column: 1 / -1;
}

/* Render Meme */
.meme {
  position: relative;
  margin-top: 36px;
}

.meme-image {
  max-width: 100%;
  border-radius: 3px;
}

.top-caption, .bottom-caption {  
  color: #FFFFFF;
  font-family: Impact, sans-serif;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 2.5rem; 
  margin: 15px 0;
  padding: 0 5px;
  position: absolute;
  left: 50%;
  text-align: center;
  text-transform: uppercase;  
  text-shadow: 2px 2px 0 #000,
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  0 2px 0 #000,
  2px 0 0 #000,
  0 -2px 0 #000,
  -2px 0 0 #000,
  2px 2px 5px #000;
  transform: translateX(-50%);
  width: 80%;
}

.bottom-caption{
  bottom: 0;
}

.top-caption {
  top: 0;
}