#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  height: 100vh;
}

/* Navbar */
nav {
  background-color: #21222A;
  color: #DEEBF8;
  display: flex;
  align-items: center;
  height: 90px;
  padding: 30px 25px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

nav.light {
  background-color: #FFFFFF;
}

.nav-title, .project {
  margin: 0;
}

.icon {
    height: 30px;
    margin-right: 7px;
}

.nav-title { 
  color: #61DAFB;
  font-size: 22px;
  margin-right: auto;
}

nav.light .nav-title {
  color: #00ABCA;
}

.project {
  color: #DEEBF8;
  font-weight: 600;
}

/* Toggle button */
.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 0.625rem;
  font-weight: 600;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #F5F5F5;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #FFFFFF;
  box-sizing: content-box;
}

nav.light .toggler--slider {
  background-color: #2B283A;
  border-color: #2B283A;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: #222222;
  border-radius: 50%;
}

nav.light .toggler--slider--circle {
  background-color: #FFFFFF;
}

.toggler--light {
  color: #918E9B;
}

nav.light .toggler--light {
  color: #2B283A;
}

.toggler--dark {
  color: #FFFFFF;
}

nav.light .toggler--dark {
  color: #D5D4D8;
}

nav.light .toggler--slider {
  justify-content: flex-end;
}

/* Main */
main {
  color: #FFFFFF;
  background-color: #282D35;
  background-image: url("./assets/react-icon-dark.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-Size: 'contain';
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 57px 27px;
}

main.light {
  background-image: url("./assets/react-icon-light.png"); 
  background-color: #FFFFFF;
  color: #213547; 
}

.main-title {
  font-size: 39px;
  letter-spacing: -0.05em;
  margin: 0;
}

.facts {
  margin-top: 46px;
  max-width: 400px;
}

.facts > li {
  line-height: 19px;
  padding-block: 10px;
}

.facts > li::marker {
  color: #61DAFB;
  font-size: 1.4rem;
}

main.light .facts li::marker{
  color: #00ABCA;
} 