#root {
  margin: 0 auto;
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #F5F7FB;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}

.App {
  background-color: #F5F7FB;
  color: #293264;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 550px;
  min-height: 550px;
  padding: 40px;
}

.top-blob {
  position: relative;
  left: 62.24%;
  right: -62.24%;
  top: 161.16%;
  bottom: -161.16%;
  background-color: #FFFAD1;
  border-radius: 30% 70% 42% 58% / 30% 33% 67% 70%;
  transform: rotate(-150deg);
  height: 200px;
  width: 200px;
}

.bottom-blob {
  position: relative;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background-color: #DEEBF8;
  border-radius: 29% 71% 33% 67% / 65% 18% 82% 35%;
  transform: rotate(-150deg);
  height: 200px;
  width: 200px;
}

/* Start Page */
.title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.25rem;
  margin-bottom: 0;
}

.subtitle {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin: 7px 0 30px;
}

.start-btn {
  background-color: #4D5B9E;
  color: #F5F7FB;
  border: none;
  border-radius: 15px;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  padding: 16px 28px;
  width: 193px;
}

/* Quiz */
.question {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
}
.question-title {
  font-family: Karla, sans-serif;
  font-size: 1rem;
  line-height: 1.125rem;
}

.answer-div {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.answer-btn {
  background-color: #F5F7FB;
  border: solid #4D5B9E 0.79px;
  border-radius: 8px;
  color: #293264;
  font-family: Inter, sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  height: 20px;
  line-height: 0.75rem; 
  margin: 0 7px;
  min-width: 65px;
}

.selected {
  background-color: #D6DBF5;
  border: none;
}

.correct {
  background-color: #94D7A2;
  border: none;
}

.incorrect {
  background-color: #F8BCBC;
  border: none;
}

.borderline {
  border: 1px solid #DBDEF0;
  width: 100%;
}

.check-answers {
  background-color: #4D5B9E;
  color: #F5F7FB;
  border: none;
  border-radius: 10px;
  font-family: Inter, sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 0.75rem; 
  height: 35px; 
  width: 120px;
}

.play-again {
  background-color: #4D5B9E;
  color: #F5F7FB;
  border: none;
  border-radius: 10px;
  font-family: Inter, sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 0.75rem; 
  height: 35px; 
  width: 120px;
}